<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <form action="/add" method="post">
    <input type="hidden" name="thumbnail" value=""/>
    <input type="hidden" name="title" value=""/>
    <input type="hidden" name="authors" value=""/>
    <input type="hidden" name="description" value=""/>
    <button>Engage!</button>
  </form>
</body>
</html>