<!DOCTYPE html>
<html lang="en">
<head>
</head>
  <title>book details</title>
</head>
<body>
  <header>

  </header>
    <img src="<%= oneBook.thumbnail %>"></img>
    <h2><%= oneBook.title %></h2>
    <p><%= oneBook.authors %></p>
    <p><%= oneBook.description %></p>
</body>
</html>